<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4-SNAPSHOT">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>RELEASEZIP</name>
          <description>URL of released version.
&lt;br /&gt;&lt;br /&gt;
&lt;b&gt;Version 2.3&lt;/b&gt;
&lt;br /&gt;
Original link: http://wanamlite.com/2014/04/03/adam-kernel-galaxys4-lte-v2-3-android-kitkat//
&lt;br /&gt;
URL: https://dl.dropboxusercontent.com/u/486665/kernels/jflte/Adam/GT-I9505_Adam.Kernel.2.3.CWM.zip
&lt;br /&gt;
MD5: C61B4FBD93D674A473CAD2F7D57F46A6
&lt;br /&gt;</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.2">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/wanam/Adam-Kernel-GS4-LTE.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

set -e

# Clean up
#git clean -fdx
#git reset --hard HEAD

source /srv/jenkins/dualboot-kernel.sh

select_toolchain 4.6-ndk
#build_kernel

origfile=&quot;$(mktemp)&quot;
targetdir=&quot;$(mktemp -d)&quot;
extractdir=&quot;$(mktemp -d)&quot;

# Download original release
wget -O &quot;${origfile}&quot; &quot;${RELEASEZIP}&quot;

pushd &quot;${targetdir}&quot;
unzip &quot;${origfile}&quot;
popd

# Extract ramdisk
extract_boot_image &quot;${targetdir}/wanam/boot.img&quot; &quot;${extractdir}&quot;

# Copy new kernel and kernel modules
install_to &quot;${extractdir}&quot; boot.img

# Create new boot image
rm &quot;${targetdir}/wanam/boot.img&quot;
create_boot_image &quot;${extractdir}&quot; &quot;${targetdir}/wanam/boot.img&quot; boot.img

pushd &quot;${targetdir}&quot;
zip -r &quot;${WORKSPACE}/${RELEASEZIP##*/}&quot; *
popd

rm &quot;${origfile}&quot;
rm -r &quot;${targetdir}&quot;
rm -r &quot;${extractdir}&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>