<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.502</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Configure:chenxiaolong</permission>
    <permission>hudson.model.Computer.Connect:chenxiaolong</permission>
    <permission>hudson.model.Computer.Create:chenxiaolong</permission>
    <permission>hudson.model.Computer.Delete:chenxiaolong</permission>
    <permission>hudson.model.Computer.Disconnect:chenxiaolong</permission>
    <permission>hudson.model.Hudson.Administer:chenxiaolong</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:chenxiaolong</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:chenxiaolong</permission>
    <permission>hudson.model.Hudson.RunScripts:chenxiaolong</permission>
    <permission>hudson.model.Hudson.UploadPlugins:chenxiaolong</permission>
    <permission>hudson.model.Item.Build:chenxiaolong</permission>
    <permission>hudson.model.Item.Cancel:chenxiaolong</permission>
    <permission>hudson.model.Item.Configure:chenxiaolong</permission>
    <permission>hudson.model.Item.Create:chenxiaolong</permission>
    <permission>hudson.model.Item.Delete:chenxiaolong</permission>
    <permission>hudson.model.Item.Discover:chenxiaolong</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:chenxiaolong</permission>
    <permission>hudson.model.Item.Workspace:chenxiaolong</permission>
    <permission>hudson.model.Run.Delete:chenxiaolong</permission>
    <permission>hudson.model.Run.Update:chenxiaolong</permission>
    <permission>hudson.model.View.Configure:chenxiaolong</permission>
    <permission>hudson.model.View.Create:chenxiaolong</permission>
    <permission>hudson.model.View.Delete:chenxiaolong</permission>
    <permission>hudson.model.View.Read:anonymous</permission>
    <permission>hudson.model.View.Read:chenxiaolong</permission>
    <permission>hudson.scm.SCM.Tag:chenxiaolong</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <systemMessage>&lt;strong&gt;2013-04-13&lt;/strong&gt;: LiveCD monthly builds are up! Images published at &lt;a href=https://sf.net/p/unity-for-arch&gt;https://sf.net/p/unity-for-arch&lt;/a&gt;&lt;br /&gt;&lt;br /&gt;&#xd;
The Unity-for-Arch and Unity-for-Arch-Extra packages are pushed to the repositories as soon as they are built. To use them just add the following to /etc/pacman.conf:&#xd;
&lt;br /&gt;&lt;br /&gt;&#xd;
&lt;strong&gt;[Unity-for-Arch]&#xd;
&lt;br /&gt;&#xd;
SigLevel = Optional TrustAll&#xd;
&lt;br /&gt;&#xd;
  Server = http://dl.dropbox.com/u/486665/Repos/Unity-for-Arch/$arch&#xd;
&lt;br /&gt;&lt;br /&gt;&#xd;
[Unity-for-Arch-Extra]&#xd;
&lt;br /&gt;&#xd;
SigLevel = Optional TrustAll&#xd;
&lt;br /&gt;&#xd;
Server = http://dl.dropbox.com/u/486665/Repos/Unity-for-Arch-Extra/$arch&lt;/strong&gt;</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.6">
      <owner class="hudson" reference="../../.."/>
      <name>Unity-for-Arch</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>UFA-.*</includeRegex>
      <recurse>false</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_7133</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_30578</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
      </rightPortlets>
      <topPortlets/>
      <bottomPortlets>
        <hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
          <id>dashboard_portlet_22902</id>
          <name>Jenkins jobs list</name>
        </hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.6">
      <owner class="hudson" reference="../../.."/>
      <name>Unity-for-Arch-Extra</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.plugins.view.dashboard.Dashboard/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>UFAE-.*</includeRegex>
      <recurse>false</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_2197</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_10293</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
      </rightPortlets>
      <topPortlets/>
      <bottomPortlets>
        <hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
          <id>dashboard_portlet_720</id>
          <name>Jenkins jobs list</name>
        </hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.6">
      <owner class="hudson" reference="../../.."/>
      <name>Unity-for-Arch-LiveCD</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>UFALCD-.*</includeRegex>
      <recurse>false</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_23602</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_29818</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
      </rightPortlets>
      <topPortlets/>
      <bottomPortlets>
        <hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
          <id>dashboard_portlet_27471</id>
          <name>Jenkins jobs list</name>
        </hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.6">
      <owner class="hudson" reference="../../.."/>
      <name>UnityNext-for-Arch</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>UNFA-3.0-Publish-Repo</string>
        <string>UNFA-5.0-Commit-To-Git</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>UNFA-.*</includeRegex>
      <recurse>true</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_20189</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_15274</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
      </rightPortlets>
      <topPortlets/>
      <bottomPortlets>
        <hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
          <id>dashboard_portlet_24279</id>
          <name>Jenkins jobs list</name>
        </hudson.plugins.view.dashboard.core.HudsonStdJobsPortlet>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>