<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>30</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Cancel:woodburyman</permission>
      <permission>hudson.model.Run.Update:woodburyman</permission>
      <permission>hudson.model.Item.Discover:woodburyman</permission>
      <permission>hudson.model.Run.Delete:woodburyman</permission>
      <permission>hudson.model.Item.Configure:woodburyman</permission>
      <permission>hudson.model.Item.Build:woodburyman</permission>
      <permission>hudson.model.Item.Read:woodburyman</permission>
      <permission>hudson.model.Item.Delete:woodburyman</permission>
      <permission>hudson.model.Item.Workspace:woodburyman</permission>
      <permission>hudson.scm.SCM.Tag:woodburyman</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4-SNAPSHOT">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.plugins.copyartifact.BuildSelectorParameter plugin="copyartifact@1.30">
          <name>BUILD_SELECTOR</name>
          <description></description>
          <defaultSelector class="hudson.plugins.copyartifact.TriggeredBuildSelector"/>
        </hudson.plugins.copyartifact.BuildSelectorParameter>
        <hudson.model.ChoiceParameterDefinition>
          <name>UPLOAD_AS</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>TESTBUILD</string>
              <string>NIGHTLY</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.2">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.30">
      <project>Android</project>
      <filter></filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.ParameterizedBuildSelector">
        <parameterName>BUILD_SELECTOR</parameterName>
      </selector>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

export JENKINS_URL=&quot;http://127.0.0.1:8090&quot;

wget https://raw.github.com/chenxiaolong/hudson/master/scripts/sourceforge-upload.sh
wget https://raw.github.com/chenxiaolong/hudson/master/scripts/extract_from_filename.py

JAVA=/opt/java6/bin/java

rm -f jenkins-cli.jar
wget ${JENKINS_URL}/jnlpJars/jenkins-cli.jar


INFO=$(python3 extract_from_filename.py $(ls archive/*.zip))

DATE=$(echo ${INFO} | awk -F: &apos;{print $1}&apos;)
TAG=$(echo ${INFO} | awk -F: &apos;{print $2}&apos;)
LUNCH=$(echo ${INFO} | awk -F: &apos;{print $3}&apos;)

case &quot;${UPLOAD_AS}&quot; in
TESTBUILD)
  REMOTE_DIR=TestBuilds/${DATE}/${TAG}-${LUNCH}/
  ;;
NIGHTLY)
  REMOTE_DIR=Nightlies/${LUNCH}/${DATE}/
  ;;
*)
  echo &quot;Incorrect upload type.&quot;
  exit 1
esac

echo &quot;================================================================&quot;
echo &quot;Date:        ${DATE}&quot;
echo &quot;TAG:         ${TAG}&quot;
echo &quot;Device:      ${LUNCH}&quot;
echo &quot;Upload type: ${UPLOAD_AS}&quot;
echo &quot;Upload to:   ${REMOTE_DIR}&quot;
echo &quot;================================================================&quot;



if [[ -z &quot;${LUNCH}&quot; ]] || [[ -z &quot;${DATE}&quot; ]] || [[ -z &quot;${TAG}&quot; ]]; then
  echo &apos;NO BUILD!&apos;
  $JAVA -jar jenkins-cli.jar set-build-display-name ${JOB_NAME} ${BUILD_NUMBER} &quot;[FAILED]&quot;
  $JAVA -jar jenkins-cli.jar set-build-description ${JOB_NAME} ${BUILD_NUMBER} &quot;Could not determine build info&quot;
  exit 1
fi

$JAVA -jar jenkins-cli.jar set-build-display-name ${JOB_NAME} ${BUILD_NUMBER} &quot;${LUNCH}&quot;
$JAVA -jar jenkins-cli.jar set-build-description ${JOB_NAME} ${BUILD_NUMBER} &quot;[${LUNCH}][${TAG}] - ${DATE}&quot;


export SF_USERNAME=chenxiaolong
export SF_PROJECT=unofficial-cm

for i in archive/*.md5sum; do
  mv ${i} ${i/md5sum/md5}
done

bash sourceforge-upload.sh ${REMOTE_DIR} archive/*.zip archive/*.md5 archive/changelog.html

echo &quot;LUNCH=${LUNCH}&quot; &gt; lunch.prop</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher plugin="flexible-publish@0.12">
      <publishers>
        <org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
          <condition class="org.jenkins_ci.plugins.run_condition.logic.And" plugin="run-condition@1.0">
            <conditions>
              <org.jenkins__ci.plugins.run__condition.logic.ConditionContainer>
                <condition class="org.jenkins_ci.plugins.run_condition.core.StatusCondition">
                  <worstResult>
                    <name>SUCCESS</name>
                    <ordinal>0</ordinal>
                    <color>BLUE</color>
                    <completeBuild>true</completeBuild>
                  </worstResult>
                  <bestResult>
                    <name>SUCCESS</name>
                    <ordinal>0</ordinal>
                    <color>BLUE</color>
                    <completeBuild>true</completeBuild>
                  </bestResult>
                </condition>
              </org.jenkins__ci.plugins.run__condition.logic.ConditionContainer>
              <org.jenkins__ci.plugins.run__condition.logic.ConditionContainer>
                <condition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition">
                  <arg1>${UPLOAD_AS}</arg1>
                  <arg2>NIGHTLY</arg2>
                  <ignoreCase>false</ignoreCase>
                </condition>
              </org.jenkins__ci.plugins.run__condition.logic.ConditionContainer>
            </conditions>
          </condition>
          <publisher class="hudson.plugins.parameterizedtrigger.TriggerBuilder" plugin="parameterized-trigger@2.24">
            <configs>
              <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
                <configs>
                  <hudson.plugins.parameterizedtrigger.FileBuildParameters>
                    <propertiesFile>lunch.prop</propertiesFile>
                    <failTriggerOnMissing>true</failTriggerOnMissing>
                    <useMatrixChild>false</useMatrixChild>
                    <onlyExactRuns>false</onlyExactRuns>
                  </hudson.plugins.parameterizedtrigger.FileBuildParameters>
                </configs>
                <projects>Android_Generate_Delta</projects>
                <condition>ALWAYS</condition>
                <triggerWithNoParameters>false</triggerWithNoParameters>
                <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
              </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
            </configs>
          </publisher>
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
        </org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
      </publishers>
    </org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher>
    <hudson.plugins.ws__cleanup.WsCleanup plugin="ws-cleanup@0.20">
      <deleteDirs>false</deleteDirs>
      <skipWhenFailed>false</skipWhenFailed>
      <cleanWhenSuccess>true</cleanWhenSuccess>
      <cleanWhenUnstable>true</cleanWhenUnstable>
      <cleanWhenFailure>true</cleanWhenFailure>
      <cleanWhenNotBuilt>true</cleanWhenNotBuilt>
      <cleanWhenAborted>true</cleanWhenAborted>
      <notFailBuild>false</notFailBuild>
      <cleanupMatrixParent>false</cleanupMatrixParent>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.WsCleanup>
  </publishers>
  <buildWrappers/>
</project>